{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load user_filters %}


{% block content %}
  <body>       
    <main>
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{user_post.pub_date}}
            </li>
            <!-- если у поста есть группа -->   
              <li class="list-group-item">
                Группа: {{ user_post.post_group }}
                {% if user_post.group %} 
                  <a href="{% url 'posts:group_posts' user_post.group.slug %}">все записи группы</a>
                {% endif %}
              </li>
              <li class="list-group-item">
                Автор: {{user_post.author.get_full_name}}
              </li>
              </li>
              <li class="list-group-item">
                <a href="{% url 'posts:profile' user_post.author.username %}">
                  все посты пользователя
                </a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора: {{posts_count}}
  
        </aside>
        <article class="col-12 col-md-9">
          {% thumbnail user_post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <p>{{ user_post.text }}</p>
            {% if user.is_authenticated %}
              <div class="card my-4">
                <h5 class="card-header">Добавить комментарий:</h5>
                <div class="card-body">
                  <form method="post" action="{% url 'posts:add_comment' user_post.id %}">
                    {% csrf_token %}      
                    <div class="form-group mb-2">
                      {{ form.text|addclass:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                  </form>
                </div>
              </div>
            {% endif %}
            {% for comments in comment %}
              <div class="media mb-4">
                <div class="media-body">
                  <h5 class="mt-0">
                    <a href="{% url 'posts:profile' user_post.author.username %}">
                      {{ comments.author.username }}
                    </a>
                  </h5>
                    <p>
                    {{ comments.text }}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </li>
          </ul>
        </article>
      </div>
    </main>
  </body>
{% endblock %}